<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Among Us <公式サーバー> - Dieu Éviter</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="file:///media/fuse/drivefs-bbab02a7ddc2073b76d9a5aaae6db006/root/Among%20Us%20_%E5%85%AC%E5%BC%8F_%20-%20Dieu%20%C3%89viter.html" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
