<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Among Us - Dieu Éviter</title>

</head>

<body>
	<header>
		<div class="container">
			<h1>Among Us</h1>
		</div>
	</header>

	<main>
		<div class="container">
			<h2>
				公式TurboWarpサーバー
			</h2>
		
        <p>
				公式のTurboWarpなだけあってまぁまぁ人がいます。
			</p>
	<a href="/among-1">Go!</a>
			<h2>
				Dieu Éviter独自サーバー
			</h2>
			<p>
				僕がリミってるサーバーで遊べます。
        <br>公式がいっぱいだったり、友達とだけでやりたいときに使ってください。
        <br>基本、過疎りまくってると思ってください笑
			</p>
			<a href="/among-2">Go!</a>
		
    <h2>操作説明,遊び方</h2>
    <p>
詳しい説明は<a href="https://scratch.mit.edu/projects/557315349/" target="_blank">公式</a>を確認してください
	
  <p> <ショートカットキー>
  <br>[wasd] / [矢印キー] - 移動
	<br>[スペース] - 使用/排気(インポスターとして)
	<br>[r] - 死体の報告
	<br>[q] - 殺す（インポスターとして)

<p> <遊び方>
<br>・ゲームを開始するには、ホストは "start "ボタンをクリックする必要があります。
<br>・ゲーム開始時に、各プレイヤーは「クルーメイト」か「インポスター」のどちらかの役割を与えられます。6人以上のプレイヤーがいる部屋では、2人のインポスターがいることになります。
<br>・クルーメイトは、タスクをこなしたり、死体を報告したり、インポスターを追い出したりします。彼らはまた、管理テーブルをチェックして、不審な活動を探すこともできます。
<br>・インポスターはクルーに溶け込み、タスクを実行するふりをして、クルーを殺すことになっている。彼らは、ベントに忍び込むこともできます。
<br>・インポスターが全員死ぬか（クルーの勝利）、生きているインポスターがクルーと同数になると（インポスターの勝利）、ゲームは終了する。
<br>・Reactorの妨害行為を止めるには、2人の人間がそれぞれの場所で手を押さなければならない。O2の妨害行為を止めるには、両方の場所にコードを入力しなければなりません。
 <br>・マップの中央にある赤いボタンは緊急会議を呼び出すものなので、無造作に押さないようにしてください。
    </div>
	</main>


	<script src="//accaii.com/yuto110/script.js" async></script>
	<noscript><img src="//accaii.com/yuto110/script?guid=on"></noscript>

</body>

</html>
