<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Among Us <公式サーバー> - Dieu Éviter</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://firebasestorage.googleapis.com/v0/b/psan-file.appspot.com/o/data%2Fe05gd97eg%2FAmong%2520Us%2520_%25E5%2585%25AC%25E5%25BC%258F_%2520-%2520Dieu%2520%25C3%2589viter.html?alt=media&token=e7f7bd31-b2aa-4c95-bcf6-37300187359c" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
