<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Among Us <独自サーバー> - Dieu Éviter</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://firebasestorage.googleapis.com/v0/b/psan-file.appspot.com/o/data%2Fq1duzq6mn%2FAmong%2520Us%2520_%25E7%258B%25AC%25E8%2587%25AAserver_%2520-%2520Dieu%2520%25C3%2589viter.html?alt=media&token=f92a7930-2e68-4899-980a-86f32d87b32f" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
