<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        
        <title>Google</title>
        <link rel="icon" href="/img/logo/favicon/ico">
    </head>
    <body>
        <h1>504 Gateway Timeout</h1>
        <h3>Load Faild / Timeout</h3>
        <p>読み込みに失敗しました。リロード等をお試し下さい。<p>
        <p>最近アクセス多いのでサーバーついていけてないかも殴))　healthチェックしてみてください!</p>
        <p>⚠inv治ったんで一回このダブ消して入り直して見てください<p>
        <button onclick="location.replace(location.href)">Reload / リロード</button>
        <button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/help'">お問い合わせ</button>
    <script>setTimeout(function(){location.reload();},1000);</script>
    </body>
</html>
