
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<script>
    
</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="application-name" content="Chatwork">
<meta name="application-url" content="https://www.chatwork.com">
<meta name="msapplication-starturl" content="https://www.chatwork.com">
<meta name="description" content="Chatworkはチャット、タスク管理、ファイル共有ができるクラウド型ビジネスチャットツールです。"/>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<meta name="google" content="notranslate"><link rel="shortcut icon" id="_favicon" href="//assets.chatwork.com/images/cwfavicon/favicon00.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="//assets.chatwork.com/images/icon/shortcut.png" sizes="48x48" type="image/png" media="all" />
<link rel="apple-touch-icon-precomposed" href="//assets.chatwork.com/images/icon/home.png" type="image/png" media="all" />

<title>Chatwork</title>

<script async='async' src="https://flux-cdn.com/client/chatwork/chatwork.min.js"></script>
<script async='async' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'></script>



<script>
    !function(a9,a,p,s,t,A,g){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},_Q:[]};A=p.createElement(s);A.async=!0;A.src=t;g=p.getElementsByTagName(s)[0];g.parentNode.insertBefore(A,g)}("apstag",window,document,"script","//c.amazon-adsystem.com/aax2/apstag.js");
    apstag.init({
        pubID: '3580',
        adServer: 'googletag'
    });
</script>


<!-- Google Tag Manager -->
              <script>
      
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
          j.async = true;
          j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-WJJ7DNZ");
      
    </script>
  <!-- End Google Tag Manager --></head>

<body class="ja">
<script>
  const send_page_view = 'false' === 'true';
  const ga_chatwork_site = 'false' === 'true';
  const page_name = '';
  
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B32Z83FNCR', {'send_page_view': send_page_view, 'page_title': '', 'page_name': page_name});
    if (ga_chatwork_site) {
      gtag('config', 'G-XR1CWB8ZCV', {'send_page_view': send_page_view, 'page_title': '', 'page_name': page_name});
    }
  
</script><div id="_cw-gtm" ></div>
<!-- Google Tag Manager (noscript) -->
              <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJJ7DNZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --><div id="_loader" class="loading">
  <div class="loading__body">
    <div class="loading__pieceTopLeft"></div>
    <div class="loading__pieceTopRight"></div>
    <div class="loading__pieceBottomRight"></div>
    <div class="loading__pieceBottomLeft"></div>
  </div>
</div><div id="root">
</div>

<script charset="utf-8" class="fallbackElement" src="https://front.chatwork.com/biwa/free/app/index.js"></script>

<script type="text/javascript"><!--
  (function () {
    if (window.CW) {
      return;
    }

    [].slice.apply(document.documentElement.querySelectorAll('.fallbackElement')).forEach(function (elem) {
      document.write(elem.outerHTML
        .replace(/(front\.chatwork\.com)/, 's3-ap-northeast-1.amazonaws.com/$1')
        .replace(/index\.css/, 'index_s3.css')
      );
    });
  })();
//--></script>


<script type="text/javascript">
    !function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},s=["addRecord","set","trackEvent","trackPageview","trackClicks","ready"],a=0;a<s.length;a++){var c=s[a];e[t].prototype[c]=r(c)}var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.treasuredata.com/sdk/1.8.4/td.min.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(n,i)}}("Treasure",this);
</script>
<script type="text/javascript" src="//www.chatwork.com/service/packages/chatwork/javascript/treasuredata/td.js?1742529556"></script>
<script type="text/javascript" src="//www.chatwork.com/service/packages/chatwork/javascript/treasuredata/marketo-tagging.js?1742529556"></script>


<script type="application/javascript">
  window.addEventListener('load', (event) => {
    if (!TD) return;
    TD.init && TD.init(!DEBUG, MYID);

    if (IS_FOLLOWING_LOGGED_IN || needsTrackMarketoTaggingEventAtLogin()) {
      TD.trackMarketoTaggingEventAtLogin && TD.trackMarketoTaggingEventAtLogin(ENCRYPT_EMAIL, MYID);
      resetNeedsTrackMarketoTaggingEventAtLogin();
    }
  });
</script>


</body>
</html>
