<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>

<button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/help'">お問い合わせ</button>
<h1>Dieu Éviter Chat 使い方
  <h2>⚠️人を傷つける,不快に思わせる発言はやめましょう!⚠️
<h3>⚠それぞれのChatでアカウントを作成しないといけません。めんどくさいよね~(同じ名前,パスワードは使えるので同じのを使ったほうがいいかも!そのほうが認知しやすい...ﾃﾞｽ)⚠
<h3>利用規約に同意の上使用してください。
<a href="javascript:location.replace('/kiyaku')">利用規約はこちら</a><br>
    <h4>・まずはアカウントを作ろう!
     <p>・約5分ごとにページがリロードされます。これはカウンターの更新をするためです。
       <p>・カウンターは目安なので1でも全然人はいます。カウンターの反映に1分ほどかかるため。
      
　<h3>~ コマンド一覧 ~
  <h4>・名前の色を変更 メッセージ欄に 「 /color カラーコード 」 (#も入れてね)を入力
<p><a href="https://www.colordic.org/" target="_blank">カラーコード一覧</a>


	<h2><a href="javascript:location.replace('/chat')">雑談部屋へ</a>
  <br><a href="javascript:location.replace('/chat-web')">WEBフィルター対策本部へ</a>
<br><a href="javascript:location.replace('/chat-proxy')">Proxy共有所へ</a>
