<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>

	<h1>Dieu Éviter 利用規約</h1>
<h2>1.ユーザー規約
  <h4>・本利用規約は、お客様とDieu Éviterチームとの間の契約であり、Dieu Éviter,Dieu Éviter Chat（ただしこれらに限定されない）（総称して「Dieu Éviter」）のご利用に適用されます。
本利用規約をよくお読みください。Dieu Éviterをご利用いただくことで、お客様は本利用規約の諸条件を読み、理解し、同意したものとみなされます。これらの条件のいずれかに同意できない場合は、Dieu Éviterをご利用いただけません。  
  <p>・お客様のプライバシーは当社にとって重要です。Dieu Éviterチームが本サービスを通じて収集した情報をどのように使用、収集、保管するかについて定めた<a href="javascript:location.replace('/policy')">プライバシーポリシー</i></a>をお読みください。Dieu Éviterをご利用いただくことで、お客様はDieu Éviterの<a href="javascript:location.replace('/policy')">プライバシーポリシー</i></a>にも同意したものとみなされます。
 <p>・Dieu Éviterチームは、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>を随時変更する場合があります。最新の改訂日はこのページに表示されます。本サービスを継続してご利用いただくことで、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>の変更または改訂に同意したものとみなされます。
  

  <h2>2. アカウントの作成と管理
<h4>・本サービスの一部の機能をご利用いただくには、Dieu Éviterに登録し、アカウントを作成する必要があります。アカウントの作成は任意ですが、アカウントをお持ちでない場合、Dieu Éviterの一部機能はご利用いただけません。個人アカウントを登録する際には、名前,パスワードを設定していただく必要があります。
Dieu Éviterのデータ保持および使用に関するポリシーについては、Dieu Éviterの<a href="javascript:location.replace('/policy')">プライバシーポリシー</i></a>をご覧ください。
<p>・パスワードの秘密保持とアカウントの安全確保は、お客様の責任となります。お客様のアカウントが他者に使用されている場合でも、お客様のアカウントの使用については、お客様が単独で責任を負います。お客様のアカウントの使用が<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>に違反した場合、お客様のアカウントは制限または停止される場合があります。
<p>・他人のDieu Éviterアカウントを許可なく使用することはできません。
<p>・アカウントの安全が確保されていないと思われる場合（例：パスワードの紛失、盗難、または不正な開示など）、速やかにパスワードを変更してください。アカウントにアクセスしてパスワードを変更できない場合は、<a href="javascript:location.replace('/hel@')">お問い合わせ</i></a>までご連絡ください。


<h2>3. 使用規則
  <h4>・Dieu Éviterチームは表現の自由を支持します。ただし、Dieu Éviterは幅広いユーザーを対象としており、一部のコンテンツはDieu Éviterコミュニティに不適切です。Dieu Éviterサービスを以下の方法で使用することはできません。
<h5>・個人またはグループに対する偏見、差別、憎悪、または暴力を助長するもの。
<p>・Dieu Éviterユーザーであるかどうかにかかわらず、他のユーザーを脅迫、嫌がらせ、または威嚇するもの。
<p>・汚い言葉や個人攻撃を含むもの。
<p>・性的に露骨な、または暴力的な描写を含むもの。
<p>・違法行為の実行方法や違法製品の入手方法に関する指示を提供するもの。
<p>・他のユーザーに個人情報、連絡先、またはパスワードを要求するもの。
<p>・他のユーザーの許可なく、その個人情報、連絡先、またはパスワードを公開するもの。
  <h4>・お客様は、Dieu Éviterを使用する際に、適用されるすべての法律および規制を遵守することに同意するものとします。他のユーザーへの嫌がらせ、ストーカー行為、または名誉毀損を含む、いかなる違法な方法でもDieu Éviterを使用することはできません。
<p>・本サービスのご利用にあたり、他人になりすましたり、模倣したり、他人のふりをしたりすることはできません。
<p>・お客様は、サービスを妨害したり、サービスに不正にアクセスしたり、他のユーザーのサービス利用を妨害したりする目的でDieu Éviterを使用しないことに同意するものとします。禁止行為には、以下が含まれますが、これらに限定されません。
Dieu Éviterウェブサイトまたはエディターをクラッシュさせることを意図したコンテンツの投稿
ウイルスやマルウェアを含むページへのリンク
管理者パスワードの使用、または管理者のふりをすること
同じコンテンツを繰り返し投稿すること、または「スパム」すること
サイトの統計情報を操作するため、別のアカウントを使用したり、投票グループを組織したりすること
<p>・Dieu Éviterウェブサイト外のメッセンジャーのリンクを投稿しないことに合意します。
<p>・Dieu Éviterチームは、報告されたユーザーのコンテンツの確認に加え、Dieu Éviterサービスのすべての利用状況を監視する権利を留保しますが、その義務を負うものではありません。Dieu Éviterチームは、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>または<a href="javascript:location.replace('/community')"></i>コミュニティガイドライン</a>に違反するコンテンツを予告なく削除する場合があります。

<h2>4.アカウントの停止および解除
  <h4>・Dieu Éviterは、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>または<a href="javascript:location.replace('/community')"></i>コミュニティガイドライン</a>に違反したお客様のアカウントを停止する権利を有します。違反を繰り返すお客様は、アカウントが削除される場合があります。Dieu Éviterチームは、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>または<a href="javascript:location.replace('/community')"></i>コミュニティガイドライン</a>への違反を構成するものを決定する唯一の権利を留保します。また、Dieu Éviterチームは、<a href="javascript:location.replace('/kiyaku')"></i>利用規約</a>の適用を回避するために使用されたアカウントを停止する権利を留保します。

<p>© 2025 Yuto_110.</p>
