<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>

<h1>Dieu Éviter Chat 利用規約</h1>

<h3>・人を傷つけるような発言はおやめください</h3>
<h3>・もしトラブルに発展しても一切責任を負いかねます
<h3>・最低限の<a href="https://www.keishicho.metro.tokyo.lg.jp/kurashi/cyber/notes/rule_manner.html" target="_blank">ネットエチケット</a>をお守りください
<h3>・過度な下ネタ、ゴシップなどはおやめください。削除対象です。

  <h2>全ての規約に同意できる方だけ<a href="javascript:location.replace('/chat')"></i>chat</a>をご利用ください。
  <h3>ご理解とご協力をお願いします。

	<p>&copy; 2025. Yuto_110 All rights.</p>
