<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Google</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="banner">
			<a href="javascript:location.replace('/')">ホーム</a><br>
			<!-- 他のボタンもここに追加できます -->
			<button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/help'">お問い合わせ</button>
		</div>
	</header>
	<h1>
		Dieu Éviter URL一覧

<div style="height:480px;">
	<script src="//accaii.com/yuto110/widget.js" async></script>
</div>

	<script src="//accaii.com/yuto110/script.js" async></script>
	<noscript><img src="//accaii.com/yuto110/script?guid=on"></noscript>

</body>

</html>
