<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>DeepL翻訳</title>
  <link rel="icon" href="https://www.deepl.com/favicon.ico" />
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</head>
<body>
  <iframe src="https://www.deepl.com/translator"></iframe>

  <script>
    function randomId(len) {
      const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';
      let res = '';
      for (let i = 0; i < len; i++) {
        res += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return res;
    }

    function addHistoryEntry() {
      const id = randomId(10);
      const currentUrl = window.location.origin + window.location.pathname;
      history.pushState(null, '', currentUrl + '#' + id);
    }

    setInterval(addHistoryEntry, 5000); // 1秒ごとに履歴追加
  </script>
</body>
</html>
