<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://shadow-1.myclarevision.com/uv/service/hvtrs8%2F-rcw%2Cgktju%60uqepcmnvelt%2Ccmm-ywtm1304130-ywtm-%7Buii%2Fymuvu%60e%2F%2Fpeds-hgafs-mcil%2Fveopnaveq%2Fqhcdmw%2Ccmdg%3Fvoiel%3DEHQAV0CACACAFAPUQE4EJ3AFTA0FXAAP6ZMZ4XXYIA" title="Google"></iframe>
</body>
</html>
