<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>
	<meta name="keywords" content="ページのキーワードA,B,C">
	<meta name="description" content="ページの説明">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div id="outer">
		<header>
			<div id="header-container">
				<div id="head-inner">
					<h1>埋め込み再生</h1>
					<p class="description">YouTube Player Demoをつかった</p>
				</div>
			</div>
	<button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/help'">お問い合わせ</button>
		</header>
		<div id="content-wrapper">
				<p><a href="javascript:location.replace('/')">ホーム</a></p>
      <main>
				<div id="inner">
					<h2>YouTube Player Demoを使うと何故かYouTubeが見れます</h2>
          <p>ライブ配信は「このコンテンツは、学校の管理者による設定により、再生できません☆」と出て見れません()ここで見れない可能性も全然あるから怒らないでね
					<h3>①</h3>
          <p>まず前のページに戻り、その動画の概要欄の横にビデオIDを取得とあるのでそこをクリックして、IDをもって来てください</p>
					<h3>②</h3>
					<p>次に↓のサイトにアクセスしてください(ブロックされたらごめん)<p>
            <a href="&#104;&#116;&#116;&#112;&#115;&#58;&#47;&#47;&#100;&#101;&#118;&#101;&#108;&#111;&#112;&#101;&#114;&#115;&#46;&#103;&#111;&#111;&#103;&#108;&#101;&#46;&#99;&#111;&#109;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#95;&#112;&#108;&#97;&#121;&#101;&#114;&#95;&#100;&#101;&#109;&#111;" target="_blank">Go!</a></p>
					<h3>③</h3>
					<p>そのサイト内でもう動画が出てると思うのでその下の「M7lc1UVf-VE」のビデオID消してさっきコピったIDをぶち込んでください</p>
				<p>そしたら青いボタンを押してください。そしたら見れます(たまに全然違う動画になるけど青のボタン押せばいつかでてくるよ)
        </div>
			</main>
			<aside>
				<div id="middle-inner">

					<div class="side">
						<ul>
					
						</ul>
					</div>
				</div>
			</aside>
		</div>
<p>&copy; 2025 yuto_110. All rights reserved.</p>
	</div>
</body>

</html>
