<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="&#104;&#116;&#116;&#112;&#115;&#58;&#47;&#47;&#100;&#101;&#118;&#101;&#108;&#111;&#112;&#101;&#114;&#115;&#46;&#103;&#111;&#111;&#103;&#108;&#101;&#46;&#99;&#111;&#109;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#95;&#112;&#108;&#97;&#121;&#101;&#114;&#95;&#100;&#101;&#109;&#111;" title="Google"></iframe>
</body>
</html>
