<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>
	<link rel="icon" href="/img/logo/favicon.ico">
	<link rel="stylesheet" href="/css/pure-min.css">
	<link rel="stylesheet" href="/css/grids-responsive-min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_up" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/utils/utils.js"></script>
</head
<p>{{ videoid }}<p>

<li><a href="&#104;&#116;&#116;&#112;&#115;&#58;&#47;&#47;&#100;&#101;&#118;&#101;&#108;&#111;&#112;&#101;&#114;&#115;&#46;&#103;&#111;&#111;&#103;&#108;&#101;&#46;&#99;&#111;&#109;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#47;&#121;&#111;&#117;&#116;&#117;&#98;&#101;&#95;&#112;&#108;&#97;&#121;&#101;&#114;&#95;&#100;&#101;&#109;&#111;" target="_blank">Go!</a>
