<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>absolute</title>
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<header>
		<div class="banner">
			<button class="btn btn-link" onclick="window.location.href='/'">ホーム🏠</button>
			<button class="btn btn-link" onclick="window.location.href='/blog'">お知らせ</button>
			<form class="d-flex" action="/s">
				<input type="text" name="q" class="form-control" placeholder="キーワードを入力..." required>
      </form>
				<button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/send'">問い合わせ</button>
		</div>
	</header>
	<br><br>
	<h1>YouTubeのURLを入力</h1>
	<form id="urlForm2">
		<input type="text" id="youtubeUrl" placeholder="YouTubeのURLを入力..." required>
		<button type="submit" name="action" value="watch">再生！</button>
		<button type="submit" name="action" value="comment">コメントのみを表示</button>
		<br><br>
</form>

		<script>
			dfunction renderYouTube(url) {
			let videoId = null;
			if (url.startsWith('https://www.youtube.com/watch?v=')) {
			videoId = url.split('&')[0].split('/watch?v=')[1];
			} else if (url.startsWith('https://youtu.be/')) {
			videoId = url.slice(17).split('?')[0];
			} else if (url.startsWith('https://www.youtube.com/shorts/') && url.length > 32) {
			videoId = url.slice(31).split('?')[0];
			} else if (url.startsWith('https://m.youtube.com/shorts/') && url.length > 31) {
			videoId = url.slice(29).split('?')[0];
			}
			if (videoId && videoId.length < 15) { return `<div style="width: 100%; height: 100%; aspect-ratio: 560 / 315;"><iframe
					width="100%" height="100%" src="/watch?v={escapeHTML(videoId)}" frameborder="0" allowfullscreen></iframe></div>
				`;
				}
				return '';
				}
            const action = event.submitter.value;
            if (action === 'watch') {
                window.location.href = `/watch?v={videoId}`;
            } else if (action === 'comment') {
                window.location.href = `/tool/n/comment/${videoId}`;
            } else {
                alert('Invalid action type');
            }
        } else {
            alert('Invalid YouTube URL');
        }
    });

    function extractVideoId(url) {
        const regExp = /^.*(?:youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        const match = url.match(regExp);
        return (match && match[1].length == 11) ? match[1] : null;
    }
		</script>
</body>

</html>
