<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Google</title>
	<link rel="icon" href="/img/logo/favicon.ico">
	<link rel="stylesheet" href="/css/pure-min.css">
	<link rel="stylesheet" href="/css/grids-responsive-min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_up" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/utils/utils.js"></script>
</head>


			<p><a href="javascript:location.replace('/')">ホーム</a></p>
   </a>
	</div>
	<br><br>
	<h1>YouTubeのURLを入力</h1>
  <p>↓ここにYouTubeのurlを入力してください↓　(live配信未対応です)
	<form id="urlForm2">
		<input type="text" id="youtubeUrl" placeholder="YouTubeのURLを入力..." required>
		<button type="submit" name="action" value="watch">再生！</button>
		<br><br>
</form>

		<script>
			document.getElementById('urlForm2').addEventListener('submit', function(event) {
        event.preventDefault();
        const url = document.getElementById('youtubeUrl').value;
        const videoId = extractVideoId(url);
        if (videoId) {
            const action = event.submitter.value;
            if (action === 'watch') {
                window.location.href = `/watch?v=${videoId}`;
            } else {
                alert('Invalid action type');
            }
        } else {
            alert('error urlの形式をもう一度見直してください');
        }
    });

    function extractVideoId(url) {
        const regExp = /^.*(?:youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        const match = url.match(regExp);
        return (match && match[1].length == 11) ? match[1] : null;
    }
		</script>
</body>

</html>
