<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow">

	<title>Google</title>
	<link rel="icon" href="/img/logo/favicon.ico">

	<link rel="stylesheet" href="/css/pure-min.css">
	<link rel="stylesheet" href="/css/grids-responsive-min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/sidber.css">
	<link rel="stylesheet" href="/css/ue.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_up" />

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/utils/utils.js"></script>
</head>


<body class="no-theme">
	<!-- FC2カウンター ここから -->総アクセス数:<script language="javascript" type="text/javascript"
		src="//counter1.fc2.com/counter.php?id=40270706&main=1"></script>
	<noscript><img src="//counter1.fc2.com/counter_img.php?id=40270706&main=1" /></noscript><!-- FC2カウンター ここまで -->
		<!-- FC2カウンター ここから -->現在の閲覧者数:<script language="javascript" type="text/javascript"
			src="//counter1.fc2.com/views.php?id=40270706&main=1"></script>
		<noscript><img src="//counter1.fc2.com/counter_now.php?id=40270706&main=1" /></noscript><!-- FC2カウンター ここまで -->
			<span id="dark_mode_pref" style="display:none"></span>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-24"></div>
				<div id="contents" class="pure-u-1 pure-u-md-20-24">
					<div class="pure-g navbar h-box">
						<div class="pure-u-1 pure-u-md-12-24 searchbar">
							<button class="btn btn-link" style="position: absolute; right: 10px;" onclick="window.location.href='/help'">お問い合わせ</button>
							<form class="pure-form" action="/search" method="get">
								<fieldset>
									<input id="searchbox" name="q" type="search" placeholder="検索" value="" title="検索" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" >
                            </fieldset>
							</form>
						</div>
					</div>
					<a class="pagetop" href="#">
						<div class="pagetop__arrow"></div>
					</a>

					<div id="player-container" class="h-box">
						<video controls autoplay preload="auto" id="video"
							class="on-video_player video-js player-style-invidious" loadedmetadata="settime()"
							controls="" playsinline="" loop="" style="outline:none;width:100%;background-color:#000;"
							poster="{% if proxy == "True" %}/thumbnail?v={{ videoid }}{% else %}https://img.youtube.com/vi/{{ videoid }}/0.jpg{% endif %}">
							{% for videourl in videourls%}
							<source id="video" class="player-source" src="{{ streamUrls[5].url }}" type="video/mp4">
							{% endfor %}
							<p id="video_info">お使いのブラウザは動画の再生に対応していません。</p>
						</video>
						<audio ただのヲタク id="audio" controls>
							<source id="audio" src="{{ videourls[0] }}" type="audio/mp3">
						</audio>
					</div>
					<div class="h-box">
						<h1>{{ video_title }}</h1>
						<p style="display: inline-block; margin-right: 10px; vertical-align: super;">{{ view_count }}回視聴
						</p>
						<div style="display: inline-block;">
							<span class="material-symbols-outlined" style="display: inline-block; padding-right: 5px;">thumb_up</span>
							<p style="display: inline-block; vertical-align: super; ">{{ like_count }}</p>
						</div>

						<p id="player_current_time"
							style="display: inline-block; margin-left: 10px; vertical-align: super;"></p>
						<p style="display: inline-block; vertical-align: super;">/ {{ length_text }}</p>
					</div><br>
					<div class="pure-g">
						<div class="pure-u-1 pure-u-lg-1-5">
														<hr>
						</div>
						<div class="pure-u-1 pure-u-lg-3-5">


							<div class="h-box">
								<a href="/channel/{{ author_id }}"
									style="display: inline-block; width: fit-content; width: -moz-fit-content">
									<div class="channel-profile">

										<img src="{{ author_icon }}">

										<span id="channel-name">{{ author }}</span>
									</div>
								</a>
								<p>チャンネル登録者数: {{ subscribers_count }}人</p>
								<div id="description-box">
									<div id="descriptionWrapper">{{ description | safe}}</div>
								</div>
								<hr>
								<div id="comments"></div>
							</div>
						</div>
						<div class="pure-u-1 pure-u-lg-1-5">
							

							{% for rec_video in recommended_videos %}
							<a href="/watch?v={{ rec_video['video_id'] }}">
								<div class="thumbnail">
									<img loading="lazy" class="thumbnail" src="{% if proxy == 'True' %}/thumbnail?v={{ rec_video['video_id'] }}{% else %}https://img.youtube.com/vi/{{ rec_video['video_id'] }}/0.jpg{% endif %}">
									<p class="length">{{ rec_video["length_text"] }}</p>
								</div>
								<p style="width:100%;">{{ rec_video["title"] }}</p>
							</a>
							<p>{{ rec_video["view_count_text"] }}回視聴</p>
							<a href="/channel/{{ rec_video['authorId'] }}">{{ rec_video["author"] }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>


			<script>
				const xhr = new XMLHttpRequest();
            xhr.open("GET", "/comments?v=" + getQueryValue('v'));
            xhr.onload = function () {      
                if (xhr.status == 200) {
                    const comments_div = document.getElementById('comments');
                    comments_div.innerHTML = xhr.responseText;

                    const comments_a_tags = comments_div.getElementsByTagName('a');

                    for(let i = 0; i < comments_a_tags.length; i++) {
                        const jump_time = comments_a_tags[i].getAttribute('data-jump-time')

                        if(jump_time) {
                            comments_a_tags[i].addEventListener('click', function(e) {
                                e.preventDefault()
                                player.currentTime = jump_time;
                            })
                        }
                    }
                } else { 
                    document.getElementById('comments').innerHTML = "コメントの読み込みに失敗しました。再読み込み等をお試し下さい。"; 
                }
            };
            xhr.send();

            let player = document.getElementById("player");

            document.cookie = "yuki=True; path=/; max-age=10800;";
        



            
            const haveLoopCookie = getCookie("loop") === 'true' ? true : false;
            player.loop = haveLoopCookie;
            document.getElementById("loop").checked = haveLoopCookie;

            document.getElementById("autonextpage").checked = getCookie("autonextpage") === 'true' ? true : false;
            

            function changeAutoNextPage(checkbox) {      
                document.cookie =  `autonextpage=${checkbox.checked}; path=/; max-age=10800;`;
            }
            
            function autoNextPage() {
                const enable_autoNextPage = document.getElementById('autonextpage').checked;
                document.cookie = `autonextpage=${enable_autoNextPage}; max-age=10800;`;
                if (enable_autoNextPage) {
                    setTimeout(() => {
                        location.replace("/watch?v={{ recommended_videos[0]['video_id'] }}");
                    }, 5000)
                }
            }

            player.addEventListener('ended', autoNextPage)
            
            function changeLoop(checkbox) {      
                const enable_loop = checkbox.checked;
                document.getElementById("player").loop = enable_loop;
                document.cookie = `loop=${enable_loop}; path=/; max-age=10800;`;
            }
            
            /* function sleep(waitMsec) {      var startMsec = new Date();while (new Date() - startMsec < waitMsec);} */

            

            document.getElementById("player").currentTime = getQueryValue('t') || 0;
            
            function keydown(key) {                  
                if (key.keyCode == 32 || key.keyCode == 75) {
                    const v = document.getElementById("player");

                    if (v.paused === true) {
                        v.play();
                    } else {
                        v.pause();
                    }
                }
            }
        
            window.addEventListener('keydown', keydown);


            function shareVideo(videoId) {
                    const shareUrl = `https://youtube.com/watch?v={{ videoid }}`;
                    navigator.clipboard.writeText(shareUrl).then(() => {
                        alert('リンクがクリップボードにコピーされました！');
                    });
                }
            function Videoid(videoId) {
                    const shareUrl = `{{ videoid }}`;
                    navigator.clipboard.writeText(shareUrl).then(() => {
                        alert('ビデオIDがクリップボードにコピーされました！');
                    });
                }
        
		    
            const description_a_tags = document.getElementById('descriptionWrapper').getElementsByTagName('a');
            for(let i = 0; i < description_a_tags.length; i++) {
                const jump_time = description_a_tags[i].getAttribute('data-jump-time')

                if(jump_time) {
                    description_a_tags[i].addEventListener('click', function(e) {
                        e.preventDefault()
                        player.currentTime = jump_time;
                    })
                }
            }

            player.style.maxHeight = document.documentElement.clientHeight * 0.8 + "px";

            let info = document.getElementById('video_info');

            let reload_button_elm = document.createElement('button');
            reload_button_elm.setAttribute('onclick', 'location.replace(location.href);');
            reload_button_elm.innerHTML = 'リロード';
            
            
            setTimeout(() => {
                if(player.networkState === 3){
                    let update_api_xhr = new XMLHttpRequest();
                    update_api_xhr.open("GET", "/api/video/next"); 
                    update_api_xhr.send();
                    
                    info.innerHTML = '動画の読み込みに失敗しました。再読み込み等をお試し下さい。<br>';
                    info.innerHTML += '過度な再読み込みはインスタンスに負荷がかかり、短期間で使用不能に陥ることや、動画等の読み込みが出来なくなることが考えられますのでご遠慮下さい。'
                    info.innerHTML += '音楽だと読み込めないことが多いから許してね(0秒で再生されないバグ。著作権で引っかかてるのかな？笑)'
                    player.after(reload_button_elm)
                    player.after(info)
                    player.remove()
                }
            }, 1000);

            
            (function updateDisplayCurrentTime() {
                setTimeout(() => {
                    const player = document.getElementById('player');
                    const current_time_elem = document.getElementById('player_current_time')
                    if(player) {
                        current_time_elem.textContent = secToHMS(player.currentTime | 0);
                    } else {
                        current_time_elem.textContent = 'Error';
                    }
                    updateDisplayCurrentTime();
                }, 100);
            })();
			</script>
			<script>
				$('#searchbox').autocomplete({
                source: function (request, response) {      
                    {
                        const url = "/suggest?keyword=" + request.term;
                        const xhr = new XMLHttpRequest();
                        xhr.open("GET", url);
                        xhr.onload = function () {      
                            response(JSON.parse(xhr.responseText));
                        }
                        xhr.send();
                    }
                }, delay: 300
            });
			</script>
			<script>
				const video = document.getElementById('video');
        const audio = document.getElementById('audio');

       video.addEventListener('play', () => {
            audio.play().catch(error => {
                console.error("オーディオの再生エラー:", error);
            });
        });

        video.addEventListener('pause', () => {
            audio.pause();
            audio.currentTime = video.currentTime;
        });

        video.addEventListener('ended', () => {
            audio.pause();
            audio.currentTime = 0; 
        });
      
        video.addEventListener('seeked', () => {
            video.pause();
            audio.pause();
            audio.currentTime = video.currentTime;
            video.play();
            audio.play();
        });
      
        video.addEventListener('timeupdate', () => {
            if (Math.abs(video.currentTime - audio.currentTime) > 0.3) {
                audio.currentTime = video.currentTime;
            }
        });

document.getElementById('reloadButton').addEventListener('click', function() {
    const video = document.getElementById('video');
    const audio = document.getElementById('audio');
    
    video.load();
    audio.load();
});		
			</script>

			<!-- ツールボタン（右固定） -->
			<button class="button-31" onclick="openToolPanel()" style="position: fixed; top: 100px; left: 20px; z-index: 1000;">ツール</button>

			<!-- ツールパネル本体 -->
			<div id="tool-panel" class="tool-panel">
				<!-- 閉じるボタン（右上） -->
				<button onclick="closeToolPanel()" class="close-button">&times;</button> <!-- メインメニュー -->
				<div id="tool-main" class="tool-content">
					<h3>ツール一覧</h3>
					<p><a href="/">ホーム</a></p>
					<p><a href="/chat">Dieu Éviter Chat</a></p>
					<p><a onclick="location.replace(location.href)">再読み込み</a></p>
					<p><a href="javascript:openSubTool('tool')">基本ツール →</a></p>
					<p><a href="javascript:openSubTool('embed')">再生方法の変更 →</a></p>
					<p><a href="javascript:openSubTool('server')">サーバー切り替え →</a></p>
					<label for="autonextpage">自動で次の動画へ<input id="autonextpage" type="checkbox" onchange="changeAutoNextPage(this)"></label><br>
					<label for="loop">ループ再生<input id="loop" type="checkbox" onchange="changeLoop(this)"></label>


					<h3><label for="quality-change">画質を変更:</label>
						<select id="quality-change">
					{% for s in streamUrls %}
					<option value="{{ s.url }}" data-resolution="{{ s.resolution }}">{{ s.resolution }}</option>
					{% endfor %}
					</select>
						<button class="btn btn-link" onclick="window.location.href='/watch?v={{ videoid }}'">通常再生に戻す</button>
						<script>
							document.getElementById('quality-change').addEventListener('change', function () {
		    const selectedUrl = this.value;
		    const video = document.getElementById('video');
		
		    // 現在の再生位置を記録
		    const currentTime = video.currentTime;
		    const isPlaying = !video.paused;
		
		    // <source> を置き換え
		    video.innerHTML = '';
		    const newSource = document.createElement('source');
		    newSource.src = selectedUrl;
		    newSource.type = 'video/mp4';
		    video.appendChild(newSource);
		
		    // 再読み込みして再生位置を復元
		    video.load();
		    video.currentTime = currentTime;
		
		    if (isPlaying) {
		        video.play().catch(err => console.error("再生失敗:", err));
		    }
		});
						</script>



				</div>
				<!-- サブメニュー: 埋め込みツール -->

				<div id="tool-sub-tool" class="tool-sub">
					<p><a href="javascript:closeSubTool('tool')">← 戻る</a></p>
					<h3>基本ツール</h3>
					<p><a href="javascript:shareVideo('{{ g_videoid }}')">YouTubeのURLを取得</a></p>
					<p><a href="javascript:Videoid('{{ g_videoid }}')">ビデオIDを取得</a></p>
					<p><a href="javascript:location.replace('/thumbnail?v={{ videoid }}')">サムネを取得</a></p>
					<p><a
							href="javascript:{navigator.share({title: '現時点の動画を共有', text: '{{ video_title }}', url: location.origin + '/watch?v={{ videoid }}' + '&t=' + Math.floor(document.getElementById('player').currentTime)})}">現時点の動画を共有</a><br>
						<p><a
								href="javascript:{navigator.share({title: '動画を共有', text: '{{ video_title }}', url: location.href})}">動画を共有</a><br>
							<p><a href="{{ videourls[0] }}" download="{{ video_title }}">動画をダウンロード</a><br>


  </div>


								<div id="tool-sub-embed" class="tool-sub">
									<p><a href="javascript:closeSubTool('embed')">← 戻る</a></p>
									<h3>再生方法の変更</h3>
									<p><a href="javascript:location.replace('/watch?v={{ videoid }}')">通常再生</a></p>
									<p><a href="javascript:location.replace('/w?v={{ videoid }}')">画質変更モード</a></p>
									<p><a href="javascript:location.replace('/embed?v={{ videoid }}')">公式embed再生</a></p>
									<p><a
											href="javascript:location.replace('/nocookie?v={{ videoid }}')">no-cookie再生</a>
									</p>
									<p><a href="javascript:location.replace('/umekomi')">YouTubePlayer Demo再生</a></p>
								</div>


								<div id="tool-sub-server" class="tool-sub">
									<p><a href="javascript:closeSubTool('server')">← 戻る</a></p>
									<h3>サーバー切り替え</h3>
									<form id="api-selector-form">
										<label for="api-source">APIソースを選択:</label>
										<select id="api-source" name="api_source">
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/APItati">Default server(推奨)
</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/eviter-server">Dieu Éviter
	server(おすすめ)</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/invidious-1">invidious server-1
</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/invidious-2">invidious server-2
</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/wakame-1">wakame server-1</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/wakame-2">wakame server-2</option>
<option value="https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/mucis-api">music専用(音楽の場合読み込まれやすい)
</option>
  </select>
										<button type="submit">切り替え</button>
									</form>

									<script>
										document.getElementById('api-selector-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const selectedApi = document.getElementById('api-source').value;
    document.cookie = `api_source=${selectedApi}; path=/; max-age=31536000`;
    location.reload();
  });
									</script>
									<div id="loading">取得中...</div>
									<table>
										<thead>

										</thead>
										<tbody id="results">
											<!-- 結果を追加するよお -->
										</tbody>
									</table>
									<p id="healthStatus"></p>
									<p id="advice" style="margin-top: 1px; font-weight: ;"></p>

									<script>
										const apiUrls = [
{ name: "Default server(推奨)", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/APItati" },
{ name: "Dieu Éviter server(おすすめ)", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/eviter-server" },
{ name: "invidious server-1", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/invidious-1" },
{ name: "invidious server-2", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/invidious-2" },
{ name: "wakame server-1", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/wakame-1" },
{ name: "wakame server-2", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/wakame-2" },
{ name: "music専用(音楽の場合読み込まれやすい)", url: "https://raw.githubusercontent.com/yuto1106110/yuto-yuki-youtube-1/main/music-api"
					},
	    ];
	
	    async function checkApiHealth(api) {
	        const startTime = performance.now();
	        let errorMessage = '';
	        try {
	            const response = await fetch(api.url);
	            const endTime = performance.now();
	            const duration = Math.round(endTime - startTime);
	            const status = response.ok ? "正常" : "エラー";
	            if (!response.ok) {
	                errorMessage = `ステータスコード: ${response.status}`;
	            }
	            return { name: api.name, duration, status, errorMessage };
	        } catch (error) {
	            const endTime = performance.now();
	            const duration = Math.round(endTime - startTime);
	            errorMessage = error.message || 'ネットワークエラー';
	            return { name: api.name, duration, status: "エラー", errorMessage };
	        }
	    }
	
	    function generateAdvice(healthyCount) {
	        const totalApis = apiUrls.length;
	        const healthPercentage = Math.round((healthyCount / totalApis) * 100);
	
	        if (healthPercentage === 100) {
	            return "APIが正常に作動しています。";
	        } else if (healthPercentage >= 80) {
	            return "APIがほぼ正常に作動しています。大丈夫です";
	        } else if (healthPercentage >= 50) {
	            return "APIが落ちている可能性があります。最新の情報をご確認ください";
	        } else {
	            return "APIが作動していません。エラー文と共に問い合わせに報告してください";
	        }
	    }
	
	    async function checkAllApis() {
	        document.getElementById('loading').style.display = 'block';
	        let healthyCount = 0;
	
	        for (const api of apiUrls) {
	            const result = await checkApiHealth(api);
	            const { name, duration, status, errorMessage } = result;
	
	            const row = document.createElement('tr');
	            row.innerHTML = `<td>${name}</td><td>${duration}</td><td>${status}</td><td class="${status === 'エラー' ? 'error' : ''}">${errorMessage || '-'}</td>`;
	            document.getElementById('results').appendChild(row);
	
	            if (status === "正常") healthyCount++;
	        }
	
	        document.getElementById('healthStatus').innerText = `API ヘルス: ${Math.round((healthyCount / apiUrls.length) * 100)}%`;
	        document.getElementById('advice').innerText = generateAdvice(healthyCount);
	        document.getElementById('loading').style.display = 'none';
	    }
	
	    checkAllApis();
									</script>
								</div>
				</div><!-- スタイル（CSS） -->
				<style>
					.tool-panel {
						position: fixed;
						top: 0;
						right: -350px;
						width: 330px;
						height: 100%;
						background: #222;
						color: #fff;
						padding: 20px;
						transition: right 0.3s ease;
						box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
						z-index: 9999;
						overflow-x: hidden;
						overflow-y: auto;
						box-sizing: border-box;
					}

					.tool-panel.open {
						right: 0 !important;
					}

					.tool-content,
					.tool-sub {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: left 0.3s ease;
						padding: 60px 20px 20px 20px;
						box-sizing: border-box;
					}

					.tool-sub {
						left: 100%;
					}

					.close-button {
						position: absolute;
						top: 10px;
						right: 10px;
						background: transparent;
						color: #fff;
						border: none;
						font-size: 20px;
						cursor: pointer;
						z-index: 10001;
					}

					.tool-panel a {
						color: #4fc3f7;
						text-decoration: none;
					}

					.tool-panel a:hover {
						text-decoration: underline;
					}


					.button-31 {
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						width: 110px;
						margin: 0 auto;
						padding: .9em 2em;
						border: 1px solid #2589d0;
						border-radius: 5px;
						background-color: #fff;
						color: #2589d0;
						font-size: 0.7em;
						transition: box-shadow .3s ease;
					}

					.button-31:hover {
						box-shadow: inset #2589d0 0 0 0 2em;
						color: #fff;
					}
				</style><!-- JavaScript -->
				<script>
					function openToolPanel() {
    const panel = document.getElementById("tool-panel");
    panel.classList.add("open");
  }

  function closeToolPanel() {
    const panel = document.getElementById("tool-panel");
    panel.classList.remove("open");
    closeSubTool('embed');
    closeSubTool('server');
		closeSubTool('tool');
  }

  function openSubTool(id) {
    document.getElementById("tool-main").style.left = "-100%";
    document.getElementById(`tool-sub-${id}`).style.left = "0";
  }

  function closeSubTool(id) {
    document.getElementById("tool-main").style.left = "0";
    document.getElementById(`tool-sub-${id}`).style.left = "100%";
  }
				</script>

</body>

</html>
